@import url('https://fonts.googleapis.com/css?family=Exo+2|Yatra+One');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

Html{background:#B4BAC2;}

/*--------------------------------------*/



.signin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  Height:80%;
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
  Background-color:white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}



Button{
  Width:49%;
  Margin:1px;
  Margin-top:5%;
  background-color: #33517E;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn{
Margin-right:1%;
background-color: #83152B;}


.fields{
Margin-bottom:5%;
Margin-top:5%;
}

.container{
Padding-top:100px;
}

Form{
Width:90%;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}