/*----------------------------*/

@import url('https://fonts.googleapis.com/css?family=Exo+2|Yatra+One');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
}

body{
  background: #3C3B3B;
}


/*-----------------------------*/

.header{
text-align: center;
padding-top:10%;
padding-bottom:3%;
Margin-bottom:40px;
Background-image:url("img/chart.jpg");
}

.header h1{
Color:white;
Font-size:36px;
}

table { 
Margin-left:25%;
Margin-right:25%;
width:50%;
border-collapse: collapse;
text-align: center;
}



Tr{
color:white;
  text-transform: uppercase;

}

Th{
color:white;
text-transform: uppercase;
font-weight: bold;

}


.title{
border-bottom: 3px solid black;
Padding:10px;
}

.col1 {
Padding:10px;
}


.col1 img{
Margin-right:10px;
}

.col2 {
border-left: 1px solid black; 
border-width: 0 0 1px 3px;
Padding:10px;
}

.col3 {
border-left: 1px solid black; 
border-width: 0 0 1px 3px;

Padding:10px;
}

.tune{
Margin-top:-5px;
}





.play_icon:hover {
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);}

.play_icon{
	margin-top:-2px;
	margin-left:-2px;
	width:30px;

}


.upvote{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    margin:10px;
    margin-left:20px;
}





.downvote{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    margin:10px;
    margin-right:20px;
}


.up{
  Width:20px;
}

.down{
  Width:20px;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

Button:hover{
Opacity:0.5;
}



/*----------Button go to top-----------*/



#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  z-index: 99;
  font-size: 0.7em;
  border: none;
  outline: none;
  background-color: #2F2E2E;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  Margin-left:-5px;;
}

#myBtn:hover {
  background-color: #555;
}


